<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/shop">Shop</a></li>
    <li class="active"><a ng-href="#/cart">Shopping Cart</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
  <h2>Edit Item</h2>
</div>
<div class="col-md-12">
<section>
	<h4>{{item.name}}({{item.type}})</h4>
	<a href="#/cart/{{item._id}}/edit">Edit Quantity</a> | <a ng-click="deleteCartItem()">Remove Item</a>
</section>

</div>