<div class="wrapper">
<div class="nav">
<h1>Checkout</h1>
<h2>Please review the items in your shopping cart and continue to checkout.</h2>
<ul class="nav nav-pills pull-right">
    	<li><a ng-href="#/">Home</a></li>
    	<li><a ng-href="#/shop">Shop</a></li>
    	<li class="active"><a ng-href="#/cart">Cart</a></li>
    </ul>
</div>
<div class="purchases">
    <div ng-repeat="item in items">
      <ul>
        <li>{{item.type}}</li>
        <li>{{item.name}}</li>
        <li><img ng-src="{{item.thumb}}"></img></li>
        <li><button ng-click="removeItem($index)" class="btn btn-sm btn-warning pull-right">Remove</button></li>
        <li>{{item.price | currency}}</li>
      </ul>
    </div>
  </div>
  <div class="dolladollabills">
  <p class="total">Total: {{total}}</p>
  </div>
<footer>
  <a ng-href="#/shop"><button class="btn btn-lg btn-success pull-right">Back to the shop</button></a>
</footer>
</div>