  <div class="nav">
  <h1>SHOPPING CART</h1>
    <ul class="nav nav-pills pull-right">
        <li><a ng-href="#">Back to Control Panel</a></li>
    </ul>
  </div>
<div class="jumbotron">
<button class="btn btn-xs btn-success createitembtn" ng-click="newItem(productitem)">Create New Product</button>
  <h1>Shopping Cart</h1>
  <h2>Boards</h2>
  <article class="newproductitem" data-ng-repeat="productitem in productitems">
    <h3>{{productitem.type}}</h3>
    <h4>{{productitem.name}}</h4>
    <p>{{productitem.qty}}</p>
    <p>{{productitem.price}}</p>
    <p>{{productitem.description}}</p>
    <p><img ng-src="{{productitem.lgimg}}"></p>
    <p><img ng-src="{{productitem.lgimg1}}"></p>
    <p><img ng-src="{{productitem.lgimg2}}"></p>
    <button ng-click="edit(productitem)">Update Cart</button>
    <button ng-click="delete()">Remove</button>
  </article>
  <footer>TOTAL: {{productitem.price * productitem.qty | currency}}
  </footer>
</div>
