
<table class="table">
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in items">
            <td><input type="text" ng-model="item.type" class="input-small"></td>           
            <td><input type="text" ng-model="item.name" class="input-small"></td>           
            <td><input type="number" ng-model="item.qty" class="input-mini"></td>
            <td><input type="number" ng-model="item.price" class="input-mini"></td>
            <td>Total = {{item.qty * item.price | currency | symbol}}</td>
            <td>
                <button ng-click="removeCartItem($index)"><strong>REMOVE</strong></button>
            </td>
        </tr>
    </table>