
<div class="wrapper">
	<h1>Create Inventory</h1>
		<ul class="nav nav-pills pull-right">
    		<li><a ng-href="#">Back to Control Panel</a></li>
		</ul>
	</div>
<form name="newInvItem">
	<label type="text">New Product</label>
	<textarea ng-model="item.type" placeholder="Type"></textarea>
	<textarea ng-model="item.name" placeholder="Name"></textarea>
	<input type="number" ng-model="item.price" placeholder="Price"></textarea>
	<input type="number" ng-model="item.qty" placeholder="Qty"></textarea>
	<textarea ng-model="item.description" placeholder="Enter a description..."></textarea>
	<textarea ng-model="item.lgimg" value="{{item.lgimg}}" placeholder="Add lgimg"></textarea>
	<textarea ng-model="item.lgimg1" value="{{item.lgimg1}}" placeholder="Add lgimg1"></textarea>
	<textarea ng-model="item.lgimg2" value="{{item.lgimg2}}" placeholder="Add lg img2"></textarea>
	<button class="btn-default btn-default-xs" ng-click="newItem(item)">Add Product to Inventory</button>
	<a class="btn-default btn-default-xs" href="#/inventory">View Inventory</a>
</form>