
<div class="wrapper">
	<h1>Create Inventory</h1>
		<ul class="nav nav-pills pull-right">
    		<li><a ng-href="#">Back to Control Panel</a></li>
		</ul>
	</div>
<form name="newInvItem">
	<label type="text">New Product</label>
	<textarea data-ng-model="item.type" placeholder="Type"></textarea>
	<textarea data-ng-model="item.name" placeholder="Name"></textarea>
	<input type="number" data-ng-model="item.price" placeholder="Price"></textarea>
	<input type="number" data-ng-model="item.qty" placeholder="Qty"></textarea>
	<textarea data-ng-model="item.description" placeholder="Enter a description..."></textarea>
	<textarea data-ng-model="item.smimg" value="{{item.smimg}}" placeholder="Add small image"></textarea>
	<textarea data-ng-model="item.mdimg" value="{{item.mdimg}}"
	placeholder="Add medium image"></textarea>
	<textarea data-ng-model="item.lgimg" value="{{item.lgimg}}"
	placeholder="Add large image"></textarea>
	<button class="btn-default btn-default-xs" data-ng-click="newItem(item)">Add Product to Inventory</button>
	<a class="btn-default btn-default-xs" href="#/inventory">View Inventory</a>
</form>