<div class="jumbotron">
<button class="btn btn-xs btn-success createitembtn" ng-click="createItem()">Create New Product</button>
  <h1>Inventory</h1>
  <h2>Boards</h2>
  <article class="newitem" data-ng-repeat="item in items">
    <h3>{{item.type}}</h3>
    <h4>{{item.name}}</h4>
    <p>{{item.price}}</p>
    <p>{{item.description}}</p>
    <p><img ng-src="{{item.smimg}}"></p>
    <p><img ng-src="{{item.mdimg}}"></p>
    <p><img ng-src="{{item.lgimg}}"></p>
    <p><a href="#/inventory/{{item._id}}">Update Product</a></p>
  </article>
</div>