
<div class="jumbotron" ng-controller="ProductCtrl">
  <h1>Boards</h1>
  <ul class="products" ng-repeat="product in inventory" >
    <li>{{products.type}}</li>
    <li>{{products.name}}</li>
    <li>{{products.description}}</li>
    <li>{{products.images}}</li>
  </ul><!--need to subtract from inventory after cart add -->
<p><a class="btn btn-lg btn-success" ng-href="#/cart">Add to Cart<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span>The Board Shop</p>
</div>
