<h2>{{productitem.type}}</h2>
<h3>{{productitem.name}} - {{productitem.price | currency: symbol}}</h3>
<p>{{productitem.description}}</p>
<div id="myCarousel" class="carousel slide" ng-controller="CarouselCtrl">
  <!-- Carousel items -->
  <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
    <button ng-click="addSlide()">Add Image for Product</button>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

