<ul>
	<li><textarea type="text" data-ng-model="productitem.type" value="{{productitem.type}}"></textarea></li>
	<li><textarea data-ng-model="productitem.name" value="{{productitem.name}}"></textarea></li>
	<li><textarea data-ng-model="productitem.description" value="{{productitem.description}}"></textarea></li>
	<li><textarea data-ng-model="productitem.price" value="{{productitem.price}}"></textarea></li>
	<li><textarea data-ng-model="productitem.smimg" value="{{productitem.smimg}}"></textarea></li>
	<li><textarea data-ng-model="productitem.lgimg" value="{{productitem.lgimg}}"></textarea></li>
	<li><textarea data-ng-model="productitem.lgimg1" value="{{productitem.lgimg1}}"></textarea></li>
	<li><textarea data-ng-model="productitem.lgimg2" value="{{productitem.lgimg2}}"></textarea></li>
<ul>
	<button class="btn btn-md btn-default" data-ng-click="edit()">Update Product</button>