<div class="wrapper">
	<h1>Shop Admin</h1>
<span my-dragger><a ng-href="#">Back to Control Panel</a></span>
<a ng-href="#/cart"><button class="btn btn-lg btn-default pull-right"><span class="glyphicon glyphicon-shopping-cart"></span> Check Out</button></a>
	<article class="newproduct" data-ng-repeat="productitem in productitems">
    <h3>{{productitem.type}}</h3>
    <h4>{{productitem.name}}</h4>
    <p>{{productitem.price}}</p>
    <p>{{productitem.description}}</p>
    <p><img ng-src="{{productitem.smimg}}"></p>
    <p><img ng-src="{{productitem.mdimg}}"></p>
    <p><img ng-src="{{productitem.lgimg}}"></p>
    <p><a href="#/shop/{{productitem._id}}">Update Product</a></p>
  </article>
</div>