<div class="wrapper">
<div class="header">
  <h2>Update Cart</h2>
</div>
<div class="nav">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Back to Control Panel</a></li>
  </ul>
</div>
<div class="col-md-12">
<input type="text" data-ng-model="productitem.type" value="{{productitem.type}}">
<input type="text" data-ng-model="productitem.name" value="{{productitem.name}}">
<input type="text" data-ng-model="productitem.qty" value="{{productitem.qty}}">

<button data-ng-click="editCartItem()">Change/Remove Product</button>
</div>
</div>