<div class="wrapper">
<h1>Update Shop Product</h1>
	<ul class="nav nav-pills pull-right">
    	<li><a ng-href="#">Back to Control Panel</a></li>
	</ul>
<div name="editproditem">
	<label type="text">Edit Inventory</label>
	<textarea ng-model="productitem.type" placeholder="Type">{{productitem.type}}</textarea> 
	<textarea ng-model="productitem.name" placeholder="Name">{{productitem.name}}</textarea>
	<input type="number" ng-model="productitem.price" value="{{productitem.price}}" placeholder="Price">
	<input type="number" ng-model="productitem.qty" placeholder="Qty">
	<textarea ng-model="productitem.description">{{productitem.description}}</textarea>
	<li><textarea ng-model="productitem.smimg">{{productitem.smimg}}</textarea></li>
	<li><textarea ng-model="productitem.mdimg">{{productitem.mdimg}}</textarea></li>
	<li><textarea ng-model="productitem.lgimg">{{productitem.lgimg}}</textarea></li>
	<button class="btn-default btn-default-xs" ng-click="edit(productitem)">Update Product</button>
	<a class="btn-default btn-default-xs" href="#/shop">View Shop Products</a>
</div>
</div>