<div class="wrapper">
<h1>Inventory</h1>
	<ul class="nav nav-pills pull-right">
    	<li><a ng-href="#">Back to Control Panel</a></li>
	</ul>
<div name="existingInvItem">
	<label type="text">Edit Inventory</label>
	<textarea ng-model="item.type" value="{{item.type}}" placeholder="Type"></textarea> 
	<textarea ng-model="item.name" value="{{item.name}}" placeholder="Name"></textarea>
	<input type="number" ng-model="item.price" value="{{item.price}}" placeholder="Price">
	<input type="number" ng-model="item.qty" placeholder="Qty">
	<textarea ng-model="item.description">{{item.description}}</textarea>
	<input type="file" ng-model="item.images" ng-class="invimages" placeholder="Attach images">
	<button class="btn-default btn-default-xs" ng-click="edit()">Update Product</button>
	<a class="btn-default btn-default-xs" href="#/inventory">View Inventory</a>
</div>
</div>